.correo-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* IMPORTANTE */
}

.mail-list,
.mail-view {
  flex-grow: 1;
  overflow-y: auto;
  padding-inline: 0.75rem;
}


.correo-mobile .mail-toolbar-wrapper {
  flex-shrink: 0;
}

.mail-drawer {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
  background-color: var(--card-bg);
  transform: translateX(-100%);
  
  z-index: 2000;
}

.mail-drawer.open {
  transform: translateX(0);
}
