.dropdown-menu .dropdown-divider {
  border-top: 1px solid var(--divider-color);
}

.dropdown-menu {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.dropdown-menu.show {
  background-color: var(--bg-color) !important;
}

.dropdown-menu:hover {
  background-color: var(--bg-color) !important;
}

.disabled.text-muted {
  color: var(--muted-color) !important;
}