.correo-mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mail-drawer {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
  background-color: var(--card-bg);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 2000;
}

.mail-drawer.open {
  transform: translateX(0);
}