@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.ttf');
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSansRegular.ttf');
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url('../fonts/ProductSansItalic.ttf');
}

@font-face {
  font-family: 'Product Sans Italic Bold';
  src: url('../fonts/ProductSansBoldItalic.ttf');
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('../fonts/ProductSansBold.ttf');
}

:root {
  --white: #f8f9fa;
  --light-green: #3e8f5a;
  --dark-green: #132c18;
  --bg-green: #bad3b9;
}

html, main {
  font-family: 'Open Sans';
  background-color: var(--bg-green);
}

body {
  background-color: transparent !important;
  font-family: 'Open Sans';
}

* {
  font-family: 'Open Sans';
}