/* ================================
   LIST CONTAINER
================================== */

.list-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tema claro */
.light .list-container {
    background-color: #f8f9fa;
    color: #212529;
}

/* Tema oscuro */
.dark .list-container {
    background-color: #1f1f1f;
    color: #f1f1f1;
}
