/* Temas */
.light button.show-button {
  color: var(--dark-green);
}

.dark button.show-button {
  color: var(--light-green); /* Podrías cambiarlo a blanco si no se ve bien */
}

/* Hover en ambos temas */
.light button.show-button:hover{
    color: var(--light-green);
}

.dark button.show-button:hover {
  color: var(--secondary-green);
}
