button.show-button {
    margin: 0;
    padding: 0;
    width: 64px;
}

.light button.show-button {
    background-color: var(--light-green);
    color: var(--white);
}

.dark button.show-button {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.light button.show-button:hover {
    background-color: var(--secondary-green);
    color: var(--dark-green);
}

.dark button.show-button:hover {
    background-color: var(--secondary-green);
    color: var(--dark-green);
}